{
  "all": true,
  "exclude": [
    "coverage",
    "dist/",
    "src/tests",
    "out"
  ],
  "check-coverage": false,
  "branches": 70,
  "lines": 70,
  "functions": 70,
  "statements": 70,
  "watermarks": {
    "lines": [70, 95],
    "functions": [70, 95],
    "branches": [70, 95],
    "statements": [70, 95]
  }
}
